################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EF6Console/EF6Console/EF6Console.SchoolContext.mdf
